<html lang="en-GB">
    <head>
        <!-- utf-8 is reasonably nice, let's use that for our homepage -->
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="skeleton.css">
        <title>
            {{ page.title }} - NLPLab Homepage
        </title>
        <!-- Google Analytics -->
        <script type="text/javascript" src="google_analytics.js"></script>
        <!-- Google Webmaster Tools -->
        <meta name="google-site-verification" content="YJkZhvWcgZNvVX2HY3TXG1OcEWJHMy7Bi_ossuqKvRE"/>
    </head>
    <body>
        <div class="container">

        {{ content }}
        </div>
    </body>
</html>
